/node_modules
/public/hot
/public/storage
/code/public/coverage
/storage/*.key
/code/vendor/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.idea
docker/data
docker/logs
docker-compose.yml
code/.editorconfig
code/.phpstorm.meta.php
code/public/info.php
code/supervisord.pid
code/supervisord.log
code/public/old_tasks/*.doc
node/node_modules/*
code/storage/reports/*.docx
code/storage/reports/*.json
.~lock.*
docker/containers/php-fpm/xdebug.ini
code/storage/backup/*